:root {
    --spacing-81: 5.063rem;
    /* 81px */
    --spacing-24: 1.5rem;
    /* 24px */
    --spacing-32: 2rem;
    /* 32px */

    --bg-page: #0E1323;
    --very-dark-blue: #1C204B;
    --nav-text-color: #7078C9;

    --border-radius: 0.938rem;
    /* 15px */
    --white-color-text: #fff;
}

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

main {
    background-color: var(--bg-page);
    padding: var(--spacing-81) var(--spacing-24);
}

.l-grid {
    display: grid;
}

.l-flex {
    display: flex;
}

.hero__container {
    background-color: var(--very-dark-blue);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-24);
}

.hero__info {
    border-radius: var(--border-radius);
    background-color: #5747EA;
    padding: var(--spacing-32);
    align-items: center;
}

.hero__photo {
    border-radius: 50%;
    border: 3px solid white;
    max-width: 4rem;
    margin-right: 1.25rem;
}

.hero__details {}

/* styles for text */
.regular-small-text {
    font-size: 0.938rem;
    font-weight: 400;
    color: #BBC0FF;
}

.white-text {
    color: white;
}

.light-blue {
    color: #BBC0FF;
}

.hero__name {
    font-size: 1.5rem;
    font-weight: 100;
}

.hero__navigation {
    justify-content: space-evenly;
    font-size: 1.125rem;
}

.hero__navigation_item {
    color: var(--nav-text-color);
    cursor: pointer;
    padding: var(--spacing-24);
}

.nav-item--chosen {
    color: white;
}

.cards {
    flex-direction: column;
    gap: var(--spacing-24);
}

.card__item {
    border-radius: var(--border-radius);
}

.card__container {
    position: relative;
    border-radius: 1rem;
}

.bg--work {
    background-color: #FF8B64;
}

.bg--ellipsis {
    background-color: #FF8B64;
}

.bg--exercise {
    background-color: #4BCF82;
}

.bg--play {
    background-color: #55C2E6;
}

.bg--selfcare {
    background-color: #F1C75B;
}

.bg--social {
    background-color: #7335D2;
}

.bg--study {
    background-color: #FF5E7D;
}

.card-bg {
    height: 2.5rem;
}

.card__text {
    position: relative;
    background-color: var(--very-dark-blue);
    padding: 28px var(--spacing-24);
    border-radius: var(--border-radius);

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: center;

    gap: 6px 0;

    z-index: 2;
}

.card__icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.card__menu--dots {
    display: inline-flex;
    justify-self: flex-end;
}

.card__title {
    font-size: 1.125rem;
    font-weight: 500;
}

.card__text-curr-time {
    font-size: 2rem;
    font-weight: lighter;
}

.card__text-prev-time {
    text-align: right;
    font-size: 0.938rem;
}

@media screen and (min-width: 70rem) {
    main {
        display: flex;
        justify-content: center;
        min-height: 100vh;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .hero__container {
        max-width: 255px;
        margin-right: 30px;
    }

    .hero__info {
        align-items: flex-start;
        flex-direction: column;
    }

    .hero__navigation {
        flex-direction: column;
    }

    /* .hero__container { grid-area: menu; }
    .card__item:first-child { grid-area: box; }
    .card__item:nth-child(2) { grid-area: box2; }
    .card__item:nth-child(3) { grid-area: box3; }
    .card__item:nth-child(4) { grid-area: box4; }
    .card__item:nth-child(5)  { grid-area: box5; }
    .card__item:nth-child(6)  { grid-area: box6; } */
}