:root {
    --spacing-81: 5.063rem;/* 81px */
    --spacing-24: 1.5rem; /* 24px */
    --spacing-32: 2rem; /* 32px */

    --bg-page: #0E1323;
    --very-dark-blue: #1C204B;
    --nav-text-color: #7078C9;

    --border-radius: 0.938rem; /* 15px */ 
    --white-color-text: #fff;
}

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

main {
    background-color: var(--bg-page);
    padding: var(--spacing-81) var(--spacing-24);
}

.l-grid {
    display: grid;
}

.l-flex {
    display: flex;
}

.hero__container {
    background-color: var(--very-dark-blue);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-24);
}

.hero__info {
    border-radius: var(--border-radius);
    background-color: #5747EA;
    padding: var(--spacing-32);
    align-items: center;
}

.hero__photo {
    border-radius: 50%;
    border: 3px solid white;
    max-width: 4rem;
    margin-right: 1.25rem;
}

.hero__details {
    
}
/* styles for text */
.regular-small-text {
    font-size: 0.938rem;
    font-weight: 400;
    color: #BBC0FF;
}

.white-text {
    color: white;
}

.light-blue {
    color: #BBC0FF;
}

.hero__name {
    font-size: 1.5rem;
    font-weight: 100;
}

.hero__navigation {
    justify-content: space-evenly;
    font-size: 1.125rem;
}

.hero__navigation_item {
    color: var(--nav-text-color);
    cursor: pointer;
    padding: var(--spacing-24);
}

.nav-item--chosen {
    color: white;
}

.cards {
    flex-direction: column;
    gap: var(--spacing-24);
}

.card__item {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.card__container {
    position: relative;
    background-color: #FF8B64;
}

.card-bg {
    height: 2.5rem;
}

.card__text {
    position: relative;
    background-color: var(--very-dark-blue);
    padding: 28px var(--spacing-24);
    border-radius: var(--border-radius);

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 

    align-items: center;

    gap: 6px 0;

    z-index: 2;
}

.card__icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.card__menu--dots {
    display: inline-flex;
    justify-self: flex-end;
}

.card__title {
    font-size: 1.125rem;
    font-weight: 500;
}

.card__text-curr-time {
    font-size: 2rem;
    font-weight: lighter;
}

.card__text-prev-time {
    text-align: right;
    font-size: 0.938rem;
}